// fonts
$fontFamilyOS: 'Open Sans', sans-serif;
$fontFamilyM: 'Montserrat', sans-serif;
$fontRegular: 400;
$fontBold: 700;
$fontSizeTitle: 36px;
$fontSize: 16px;
$fontSizeSmall: 12px;
$fontSizeLarge: 24px;
$lineHeight: 1;
$lineHeightDouble: 1.75;
$lineHeightTriple: 2.5;
$letterSpacing: 0.075em;
$fontSizeInputForm: 14px;

// color
$white: #fff;
$black: #000;
$lightGrey: #e4edf4;
$red: #ff7e70;
$lightRed: #ff604a;
$solidRed: #ff695a;
$blue: #6ecdfd;
$lightBlue: #52B7FD;
$solidBlue: #2fa5e1;

// header
$headerBg: #6fcdff;
$pageNameBg: #51afe1;
$headerHeight: 135px;

// container
$containerWidth: 1170px;

// btn
$btnFontSize: 14px;

// input
$inputBorderColor: #d0e0eb;

// table